
.outer-container {
    
    display: flex;
    
    height: 100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
}

.start-button {
    margin-left: 20px;
}

.container {
    
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(25, minmax(20px, 1fr)); /* Dynamic columns */
    gap: 2px; /* Gap between squares */
}

.algo {
    margin-left: 10px;
}

/*
background-color: radial-gradient(#e66465, #9198e5);
*/

.square {
    background:radial-gradient(#F4F4F4, #3772FF);
    border-radius: 5px;
    border: 1px solid black;
    aspect-ratio: 1; /* Ensure squares maintain aspect ratio */
}
/*
.container {
    display: grid;
    grid-template-columns: repeat(40,14px);
    gap:5px;
    
}




.square {
    width:15px;
    height:15px;
    background-color: black;
    
    
}

*/



